node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
package-lock.json
*.pyc
*.lock
data/.expo/README.md
/.yarn
.yarnrc.yml
.pnp.loader.mjs
.pnp.cjs
/ios
*.ipa
pc-api-7156336600593486586-385-84e9e682a380.json
